---
import redirectAway from '../scripts/redirectAway.js'
const res = await redirectAway()
if (res) {
    return Astro.redirect('https://google.com')
}

var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = '/clients/vanni-aid'
if (path) newSite += path
---
<head>
    <meta http-equiv="refresh" content={`1; url=${newSite}`}>
    <title>Vanni Aid | Graphics For Good</title>
    <meta name="description" content={`< BackVanni AidWe are currently working with Anita from Vanni Aid to re-do their website! Adarsh is working on this.We are currently working with Anita from Vanni Aid to re-do their website! Adarsh is working on this.Power in Numbers ​Programs ​Locations ​VolunteersProject GalleryPreviousNext`} />
    <link rel="icon" href="https://www.wix.com/favicon.ico" />
</head>
<script data-site={newSite}>
    const newSite = document.currentScript.dataset.site

    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>