---
import redirectAway from '../scripts/redirectAway.js'
const res = await redirectAway()
if (res) {
    return Astro.redirect('https://google.com')
}

var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = '/'
if (path) newSite += path
---
<head>
    <meta http-equiv="refresh" content={`1; url=${newSite}`}>
    <title>Graphics For Good</title>
    <meta name="description" content={`Empowering Non-Profits Through the Power of Design!Transforming Visual Communications with PurposeLearn MoreOur Mission"Our mission is to help create change in the world through design. We strive to provide free design help for nonprofits that support a wide range of causes." - Shikha Iyer Club FounderRead More Our ServicesLogosWe specialize in creating unique and memorable logos representing nonprofit organizations' essence. Our designs aim to visually communicate our clients' values and missions helping them stand out in a competitive landscape.Social Media GraphicsOur social media graphics are crafted to engage audiences and drive impactful storytelling. We focus on creating visually appealing content that resonates with viewers and enhances nonprofits' online presence.SlidedecksOur services include designing visually engaging presentations that communicate your mission and goals. Whether you're preparing for a fundraising event or a community outreach program we provide customized solutions that highlight your organization's strengths and vision.WebsitesWe specialize in providing tailored website solutions for nonprofits. Our team understands nonprofit organizations' unique challenges and goals and is committed to creating impactful websites that effectively convey your mission.PostersWe can create impactful marketing materials and engaging and compelling content for nonprofits that help your mission resonate with your audience. With our expertise we aim to enhance your outreach and drive meaningful change.and MoreWe provide various additional services for nonprofits including content creation email marketing and SEO optimization. Our goal is to equip organizations with the tools and resources needed to maximize their impact.Explore ServicesInterested in partnering with us?Get in Touchhello@graphics-for-good.comFirst NameLast NameEmailMessageSendThanks for submitting!`} />
    <link rel="icon" href="https://www.wix.com/favicon.ico" />
</head>
<script data-site={newSite}>
    const newSite = document.currentScript.dataset.site

    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>