---
import redirectAway from '../scripts/redirectAway.js'
const res = await redirectAway()
if (res) {
    return Astro.redirect('https://google.com')
}

var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = '/work/tiktok-ban-infographic'
if (path) newSite += path
---
<head>
    <meta http-equiv="refresh" content={`1; url=${newSite}`}>
    <title>TikTok Ban Infographic | Graphics For Good</title>
    <meta name="description" content={`TikTok Ban InfographicClient:​Year:24-25Designer 1:TylerDesigner 2:ZachOur club Advisor Mr. Bam had the idea of making a few posters/infographics on some current events in the world. This one is about the TikTok Ban.PreviousNext`} />
    <link rel="icon" href="https://www.wix.com/favicon.ico" />
</head>
<script data-site={newSite}>
    const newSite = document.currentScript.dataset.site

    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>